---
title: "About Me";
import Layout from "@/layouts/Layout.astro";
import Link from "@/components/shared/Link.astro";
---

<Layout title="Mint Sorai - About">
  <!-- About Me Page -->
 <main class="flex flex-col gap-20 px-10">
    <h1 class="text-2xl text-primary">About</h1>
  <div class="bio">
    <h2>About Me</h2>
    <article>
      My name is Raellen. <br/>
      I'm a front-end developer with 4 years of experience.<br />
      I'm a 90's kid, so I really love the Y2K web style of the 2000s.<br />
      Based on my interest, I created this website as my blog.<br />
    </article>

    <h2>Games</h2>
    <article>
      <ul>
        <li>Skyrim Special Edition- 420 hours</li>
        <li>Stardew Valley - 670 hours</li>
        <li>Minecraft - ? hours (Started since 2012)</li>
        <li>Valheim - 233 hours</li>
        <li>Fallout: New Vegas - 70 hours</li>
      </ul>
      <Link href="https://steamcommunity.com/id/Raellen/" label="Find me on Steam" isUnderline target="_self" />
    </article>
  </div>
 </main>
</Layout>

<style>
  ul {
  @apply list-disc list-inside;
}
ol {
  @apply list-decimal list-inside;
}

  .about-page {
    background: #eaf6fb;
    color: #8c6f6f;
    padding: 2rem;
  }
  .about-page.pink {
    background: #fffafc;
  }
  .container {
    display: flex;
    border: 2px dashed #b6deef;
    background: #e0f4ff;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 0 0 10px #bce4f5;
  }
  .container.pink {
    border: 2px dashed #f5ccd7;
    background: #fff0f5;
    box-shadow: 0 0 10px #fddde6;
  }
  .sidebar {
    width: 20%;
    text-align: center;
  }

  .about-content {
    width: 60%;
    padding: 0 2rem;
  }
  .about-content .title {
    font-size: 2rem;
    text-align: center;
    color: #5596c2;
  }
  .about-content.pink .title {
    color: #d982ab;
  }
  .bio article {
    background: #f0fbff;
    border-left: 4px dotted #a0c8e0;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
  }
  .bio.pink article {
    background: #fff7f9;
    border-left: 4px dotted #eecad4;
  }
  .profile {
    width: 20%;
    text-align: center;
  }
  .profile .full-art {
    width: 100%;
    border-radius: 20px;
  }
  .info-box {
    background: #fdecef;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    border: 1px dashed #e7b8c6;
  }
  .info-box strong {
    color: #d1829b;
  }

  .about-page.pink .info-box {
    background: #fdecef;
    border-color: #e7b8c6;
  }
  .about-page.pink .info-box strong {
    color: #d1829b;
  }
</style>
