.card {
  @apply bg-slate-900 bg-opacity-80;
}

/* @font-face {
  font-family: "ms gothic";
  src: url("/fonts/MSGOTHIC.TTF") format("truetype"),
    url("fonts/MS Gothic.woff") format("woff"),
    url("fonts/MS Gothic.woff2") format("woff2");
} */

ul {
  /* @apply list-disc list-inside; */
}
ol {
  @apply list-inside list-decimal;
}

.update-content img{
  display: inline-block;
}
.update-content a {
  @apply text-primary underline decoration-dotted;
}

.update-content a:hover {
@apply text-secondary;
}