<div id="giscus-container">
<h3 class="text-primary text-lg">Leave a comment</h3>
</div>

<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="bfada918-b354-46e8-b6a8-a0ff2e5f4110"
  data-page-id="{{ PAGE_ID }}"
  data-page-url="{{ PAGE_URL }}"
  data-page-title="{{ PAGE_TITLE }}"
></div>
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>

<script>
const observer = new MutationObserver((mutations) => {
    mutations.forEach((mutation) => {
        if (mutation.addedNodes.length == 0) return;
        const iframe = mutation.addedNodes[0];
        if (iframe.tagName !== 'IFRAME') return;

        const additionalStyles = `
        iframe {
                height: 500px;
        }
        
        .dark {
            background: black;
        }

        #root {
                height:500px;
        }
        `;
        
        iframe.srcdoc = iframe.srcdoc.replace('</style>', additionalStyles + '</style>');
    });
});
observer.observe(document.getElementById("cusdis_thread"), { childList: true, subtree: true });
</script>