---
const { pageTitle } = Astro.props;
---

<div id="giscus-container">
<h3 class="mt-10 mb-3 text-black text-lg font-bold">Leave a comment</h3>
</div>

<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="bfada918-b354-46e8-b6a8-a0ff2e5f4110"
  data-page-id={Astro.url.pathname}
  data-page-url={Astro.url.pathname}
  data-page-title={pageTitle}
></div>
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>

<script>
const observer = new MutationObserver((mutations) => {
    mutations.forEach((mutation) => {
        if (mutation.addedNodes.length == 0) return;
        const iframe = mutation.addedNodes[0];
        if (iframe.tagName !== 'IFRAME') return;

        const additionalStyles = `
        iframe {
        }

        #root {
            font-family:MS Gothic;
            scrollbar-width: thin;
            scrollbar-color: white #cfefff;
        }

        input {
            background: #fff !important;
        }

        textarea {
            background: #fff !important;
        }
        `;
        
        iframe.srcdoc = iframe.srcdoc.replace('</style>', additionalStyles + '</style>');
    });
});
observer.observe(document.getElementById("cusdis_thread"), { childList: true, subtree: true });
</script>