---
import removeTrailingSlash from "@/utils/removeTrailingSlash";
import presentation from "@/data/presentation";
import SidebarButton from "./buttons/SidebarButton.astro";
const pathname = removeTrailingSlash(Astro.url.pathname);
---

<aside id="sidebar-left" class="w-[20%] text-center">
  <!-- <img src="/assets/avatar.png" alt="avatar" /> -->
  <nav role="navigation">
    <ul role="list" class="list-none p-0 m-0">
      <SidebarButton href="/" label="Home"/>
      <SidebarButton href="/about" label="About"/>
      <SidebarButton href="/posts" update label="Posts"/>
      <SidebarButton href="/gallery" update label="Gallery"/>
      <SidebarButton href="/links" label="Links"/>
      <SidebarButton href="/guestbook" label="Guestbook"/>
    </ul>
  </nav>
</aside>

<style>

  /* .sidebar-left.pink nav li:hover {
    background: #ffe0eb;
  }
  .sidebar-left.pink img {
    border: 4px dotted #f3c5d0;
  }

  .sidebar-left.pink nav li {
    background: #fff9fb;
    border: 1px dashed #e5a9b3;
  }
  .sidebar-left.pink nav a {
    color: #da6d88;
  } */
</style>
