---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import formatDate from "@/utils/formatDate";

const posts = await getCollection("posts");
---

<Layout title="Template - All Posts">
  <main class="flex flex-col gap-20">
    <h1 class="text-2xl text-neutral-900">Links</h1>
    
    <article class="flex flex-col gap-4">
      <h2>Credits</h2>
      <a href="https://sweetcharm.net/">
        <img src="/images/links/bannericeream.gif" alt="SweetCharm">
      </a>
    </article>
  </main>
</Layout>
