---
import Header from "../components/Header.astro";
import BlurCircle from "@/components/shared/BlurCircle.astro";
import theme from "@/data/theme";
import SEOTags from "@/components/seo/SEOTags.astro";

import "@fontsource/open-sans";
import "@/styles/tailwind.css";
import "@/styles/post.css";
import "@/styles/main.css";

export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <SEOTags title={title} />

  <body
    class="mx-auto my-10 lacescr cute-cursor flex min-h-screen max-w-[872px] flex-col gap-9 bg-dark-sky px-10 py-8 text-sm text-neutral-400 md:gap-20 md:py-16"
  >
    <Header />
    <BlurCircle position="top" color={theme.colors.blur.top} />
    <BlurCircle position="bottom" color={theme.colors.blur.bottom} />
    <slot />
    <style is:global>
      /* @font-face {
        font-family: cubic;
        src: url('@/fonts/Cubic_11.woff');
      } */

      html {
        font-family: "Open Sans";
      }
    </style>
  </body>

  <style>
    .bg-dark-sky {
      background-image: url("/images/background/starbackgroundWHITE.gif");
    }
    .lacescr {
        border-width:7px;
        border-style:solid;
        border-image: url("/images/background/lace-bg-pink.png") 8 fill round;
        overflow-y:auto;
      }

    html {
      cursor: url('/images/cursor/cute-cherry-cursor.gif'), auto ;
    }
  </style>
</html>
